<script src="/js/fuse.min.js"></script>
<script src="/js/fastsearch.js"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script>
  let randomPostList = document.getElementById("random-post-list");
  if (randomPostList !== null) {
    fetchJSONFile("/index.json", function (data) {
      var options = {
        // fuse.js options; check fuse.js website for details
        minMatchCharLength: 2,
        shouldSort: true,
        ignoreLocation: true,
        threshold: 0.0,
        keys: ["title"]
      };
      // Create the Fuse index
      fuseIndex = Fuse.createIndex(options.keys, data);
      fuse = new Fuse(data, options, fuseIndex); // build the index from the json file

      let permalinks = [];
      let html = "";
      for (var i = 0; i < 50; i++) {
        var index = Math.floor(Math.random() * fuse._docs.length);
        if (index >= fuse._docs.length) {
          break;
        }

        if (permalinks.includes(fuse._docs[index].permalink)) {
          continue;
        }

        html = html + '<li><a href="' + fuse._docs[index].permalink + '">' + '<span class="title">' + fuse._docs[index].title + "</span></a></li>";
        permalinks.push(fuse._docs[index].permalink);
        fuse.removeAt(index);
      }
      randomPostList.innerHTML = html;
    });
  }
</script>
